@model ASPMVC.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.Original_title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Original_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Original_title)
        </dd>

        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Release_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Release_date)
        </dd>

        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Original_Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Original_Language)
        </dd>

        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Vote_average)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vote_average)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
